:root {
    --vp-c-brand: #1890FF;
    --vp-c-brand-light: #40a9ff;
    --vp-c-green-lighter: #e6fffb;
    --vp-c-green-dark: #096dd9;
    --vp-c-green-darker: #0050b3;

    /* 图标背景 */

    --vp-home-hero-image-background-image: linear-gradient(0, #40a9ff 70%, #f6372e 30%);
    --vp-home-hero-image-filter: blur(120px);

}

.image-bg {
    background-image: var(--vp-home-hero-image-background-image);
    filter: var(--vp-home-hero-image-filter);
}

/* html 进度条样式优化 */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0, 0.1);
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}
